---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/28580/historical/24?apikey=xVVQBXqRVXkupkiQOAETZyVPoSlFYiPk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '6'
      Akamai-Grn:
      - 0.51853417.1695469014.b05f7292
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-09-23T13:58:00+03:00","EpochTime":1695466680,"WeatherText":"Mostly
        cloudy","WeatherIcon":6,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":21.0,"Unit":"C","UnitType":17},"Imperial":{"Value":70.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/by/minsk/28580/current-weather/28580?lang=en-us","Link":"http://www.accuweather.com/en/by/minsk/28580/current-weather/28580?lang=en-us"},{"LocalObservationDateTime":"2023-09-23T12:57:00+03:00","EpochTime":1695463020,"WeatherText":"Light
        rain","WeatherIcon":12,"HasPrecipitation":true,"PrecipitationType":"Rain","IsDayTime":true,"Temperature":{"Metric":{"Value":21.1,"Unit":"C","UnitType":17},"Imperial":{"Value":70.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/by/minsk/28580/current-weather/28580?lang=en-us","Link":"htt[...]
